*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    h2{
    font-size: 3em;
    font-weight: bolder;
    }
.buscador{
width:355px;

}    
.tablaPokemon{
width: 80vw;

}
@media screen and (min-width:991px){

.logo-responsive img{
width: 300px;
}
.formularioDesktop input{
width: 150px;

}
}

@media screen and (max-width:991px){
    input[type="text"],input[type="number"] {
        width: 10%;
    }
    .input-radio {
        flex-wrap: wrap;
    }
    .form-responsive{
        width: 100%;
    }
    .carga-archivo{
        flex-direction: column;
    }
    .guardar-pok{
        /*width: 150px;*/
        text-align: center;
        padding: 5px 2px;
        margin: 0 5px;
        font-size: 16px;
        display: block;
    }
}